<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.flinbor.github.publicRepositories">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="in.flinbor.github.publicRepositories.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="in.flinbor.github.publicRepositories.view.activity.GitHubActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="in.flinbor.github.publicRepositories.executorservice.CommandExecutorService"
            android:exported="false"/>
        <provider
            android:name="in.flinbor.github.publicRepositories.model.RepoProvider"
            android:authorities="in.flinbor.github.publicRepositories.model.RepoProvider"
            android:exported="true"
            android:multiprocess="true" >
        </provider>
    </application>
</manifest>
